{% extends 'ChatSystemApp/base.html' %} {% load static %} {% block Content %}
<link rel="stylesheet" href="{% static 'css/chatPages.css' %}" />
<div class="main-body">
  <div class="user-profile">
    <div class="profile-logo">
      <div class="logo-letter">
        <span>{{user.username|slice:'1'|upper}}</span>
      </div>
    </div>
    <div class="profile-name">
      <div class="name">
        <p>{{user.username}}</p>
      </div>
    </div>
    <div class="profile-friends">
      <div class="friends-count">
        <div class="count">
          <!-- <span>{{friends_count}}</span> -->
        </div>
        <div class="symbol">
          <span>Friends</span>
        </div>
      </div>
    </div>
  </div>
  <div class="friends-search">
    <div class="request-btn"></div>
  </div>
  <div class="message-container">
    <div class="message-field"></div>
    <div class="message-input">
      <form action="" method="POST" id="form">
        {% csrf_token %}
        <div class="input-div">
          <input type="text" placeholder="Text" id="msg" />
        </div>
        <div class="btn-div">
          <button type="submit">Send</button>
        </div>
      </form>
    </div>
  </div>
  <div class="not-follow" id="n-follow">
    <p>Private Chat</p>
  </div>
</div>
<script>
  $(document).ready(function () {
    let follow = document.querySelector(".request-btn");
    let mb = document.querySelector(".message-container");
    let nfollow = document.querySelector("#n-follow");

    function createButtonMarkup(follow, requested, follow_back) {
      let content = "";
      if (follow) {
        content = `<a id="a">Following</a>`;
        mb.style.display = "block";
        nfollow.style.display = "none";
      } else if (requested) {
        content = `<a id="a">Requested</a>`;
        mb.style.display = "none";
        nfollow.style.display = "flex";
      } else if (follow_back) {
        content = `<a id="a">Follow Back</a>`;
        mb.style.display = "none";
        nfollow.style.display = "flex";
      } else {
        content = `<a id="a">Follow</a>`;
        mb.style.display = "none";
        nfollow.style.display = "flex";
      }
      return content;
    }

    setInterval(function() {
      $.ajax({
        type: "GET",
        url: "{% url 'friendsCount' request.user.id user.id %}",
        success: function(response) {
          $(".count").empty();
          let count = `<span>${response.friends_count}</span>`;
          $(".count").append(count);
        },
      })
    },1000)

    // submitting form to the server using ajax request

    $("#form").on("submit", function (e) {
      e.preventDefault();
      $.ajax({
        type: "POST",
        url: '{% url "chatPage" request.user.id user.id %}',
        data: {
          msg: $("#msg").val(),
          csrfmiddlewaretoken: "{{ csrf_token }}",
        },
        error: function (response) {
          alert("Failed to Sent.");
        },
      });
      $("#msg").val("");
    });

    // getting request from the server by ajax request

    setInterval(function () {
      $.ajax({
        type: "GET",
        url: "{% url 'getFollow' request.user.id user.id %}",
        success: function (response) {
          follow.innerHTML = createButtonMarkup(
            response.follow,
            response.requested,
            response.follow_back
          );

          let a = document.querySelector("#a");

          a.addEventListener("click", function () {
            $.ajax({
              type: "GET",
              url: "{% url 'createFollow' request.user.id user.id %}",
              success: function (response) {
                console.log(response.success);
              },
            });
          });
        },
      });
    }, 1000);

    // getting messages from the server by ajax request

    let messageField = document.querySelector(".message-field");
    messageField.scrollTop = messageField.scrollHeight;
    let bottom = true;
    messageField.addEventListener("scroll", function (e) {
      if (
        Math.round(messageField.scrollTop) + messageField.clientHeight ==
        messageField.scrollHeight
      ) {
        bottom = true;
      } else {
        bottom = false;
      }
    });

    setInterval(function () {
      if (bottom == true) {
        messageField.scrollTop = messageField.scrollHeight;
      }
      $.ajax({
        type: "GET",
        url: '{% url "getMessages" request.user.id user.id %}',
        success: function (response) {
          $(".message-field").empty();
          for (let key in response.chat_messages) {
            let msg;

            if ("{{follower.id}}" == response.chat_messages[key].follower_id) {
              let message_id = String(response.chat_messages[key].id);
              let deleteUrl =
                '{% url "deleteMessage" request.user.id user.id 0 %}'.replace(
                  "0",
                  message_id
                );
              msg =
                '<div class="message-box-right">' +
                '<div class="message-time">' +
                '<div class="time-div">' +
                "<span>" +
                response.chat_messages[key].time.slice(0, 10) +
                "/" +
                response.chat_messages[key].time.slice(11, 16) +
                "</span>" +
                "</div>" +
                '<div class="delete-div">' +
                `<a class="adel" data="${message_id}"><i class="fa-solid fa-trash"></i></a>` +
                "</div>" +
                "</div>" +
                '<div class="message-text">' +
                "<p>" +
                response.chat_messages[key].message +
                "</p>" +
                "</div>" +
                "</div>";
            } else {
              msg =
                '<div class="message-box-left">' +
                '<div class="message-time">' +
                '<div class="time-div">' +
                "<span>" +
                response.chat_messages[key].time.slice(0, 10) +
                "/" +
                response.chat_messages[key].time.slice(11, 16) +
                "</span>" +
                "</div>" +
                "</div>" +
                '<div class="message-text">' +
                "<p>" +
                response.chat_messages[key].message +
                "</p>" +
                "</div>" +
                "</div>";
            }
            $(".message-field").append(msg);
          }

          $(".adel").on("click", function () {
            let message_id = this.getAttribute("data");
            $.ajax({
              type: "GET",
              url: '{% url "deleteMessage" request.user.id user.id 0 %}'.replace(
                "0",
                message_id
              ),
              success: function (response) {
                console.log(response.success);
              },
            });
          });
        },
        error: function (response) {
          alert("An Error");
        },
      });
    }, 1000);
  });
</script>
{% endblock %}
