{% load static %}
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="{% static 'css/registerPage.css' %}">
    <title>ChatSystem</title>
</head>
<body>
    <div class="container">
        <div class="register-box">
            <div class="heading">
                <p>Register</p>
            </div>
            <div class="details">
                <form action="" method="POST">
                    {% csrf_token %}
                    <input type="text" name="username" placeholder="Username" required>
                    <input type="password" name="password1" placeholder="Password" required>
                    <input type="password" name="password2" placeholder="Confirm Password" required>
                    <button type="submit">Register</button>
                </form>
            </div>
            <div class="login">
                <div class="error">
                    {% if messages %}
                        {% for message in messages %}
                            <p>{{message}}</p>
                        {% endfor %}
                    {% endif %}
                </div>
                <div class="login-btn">
                    <div class="btn">
                        <a href="{% url 'loginPage' %}">Login</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</body>
</html>